<nav class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" style="background:#FF9439" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <!-- LOGO ON STICKY NAV BAR -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#kane-navigation">
                <span class="sr-only">
                    Toggle navigation
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
                <span class="icon-bar">
                </span>
            </button>
            <a class="navbar-brand" href="home"><img src="images/logo_patch_white.png" alt=""></a>
	        <span>Patchr</span>
        </div>
        <!-- NAVIGATION LINKS -->
        <div class="navbar-collapse collapse" id="kane-navigation">
            <ul class="nav navbar-nav navbar-right main-navigation">
                <li class="dropdown" <?=echoActiveClassIfRequestMatches("home")?>>
                    <a href="home" class="dropdown-toggle" data-toggle="dropdown">Patch <b class="caret"></b></a>
                    <ul class="dropdown-menu scroll-navigation">
                        <li>
                            <a href="#intro">Home</a>
                        </li>
                        <li>
                            <a href="#super_contributor">Share your world</a>
                        </li>
                        <li>
                            <a href="#super_fan">Share your passion</a>
                        </li>
                        <li>
                            <a href="#features">Designed for you</a>
                        </li>
                        <li>
                            <a href="#screenshot-section">Screenshots</a>
                        </li>
                        <li>
                            <a href="#download">Download</a>
                        </li>
                    </ul>
                </li>
                <li <?=echoActiveClassIfRequestMatches("download")?>>
                    <a href="download">Download</a>
                </li>
                <li <?=echoActiveClassIfRequestMatches("blog")?>>
                    <a href="http://blog.candipatch.com">Blog</a>
                </li>
            </ul>
        </div>
        <!-- /END NAVIGATION LINKS -->
    </div>
    <!-- /END CONTAINER -->
</nav>
<!-- /END STICKY NAVIGATION -->
