<nav class="navbar navbar-inverse bs-docs-nav navbar-fixed-top sticky-navigation" role="navigation">
    <div class="container">
        <div class="row">
	        <div class="col-lg-1 col-md-1 vcenter">
		        <a href="home"><img src="images/patchr-logo-72.png" alt=""></a>
	        </div>
	        <div class="col-lg-1 col-md-1 vcenter">
		        <a href="home">
		        <h2 style="font-size:40px;line-height:40px;">Teeny&nbsp;Social</h2>
		        </a>
	        </div>
        </div>
    </div>
</nav>
