<!-- *** FAV AND TOUCH ICONS *** -->
<link rel="icon" href="favicon.ico">

<!-- FONT ICONS -->
<link rel="stylesheet" href="css/elegant-icons.css">
<link rel="stylesheet" href="css/app-icons.css">

<!-- BOOTSTRAP -->
<link rel="stylesheet" href="css/bootstrap.min.css">

<!--[if lte IE 7]>
    <script src="js/elegant-icons-lte-ie7.js"></script>
<![endif]-->

<!-- CUSTOM STYLESHEETS -->
<link rel="stylesheet" href="css/styles.css">

<!-- COLORS -->
<link rel="stylesheet" href="css/orange.css">

<!-- RESPONSIVE FIXES -->
<link rel="stylesheet" href="css/responsive.css">

<!-- BADGES -->
<link rel="stylesheet" href="https://rawgit.com/kremalicious/appstorebadges/master/dist/appstorebadges.min.css">

<!-- FAVICONS -->
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png?v=wAOXeJy024">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png?v=wAOXeJy024">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png?v=wAOXeJy024">
<link rel="manifest" href="/favicons/manifest.json?v=wAOXeJy024">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=wAOXeJy024" color="#5bbad5">
<link rel="shortcut icon" href="/favicons/favicon.ico?v=wAOXeJy024">
<meta name="theme-color" content="#ffffff">

<!--
<link rel="apple-touch-icon" sizes="57x57" href="/favicons/apple-touch-icon-57x57.png?v=nggRrA85rX">
<link rel="apple-touch-icon" sizes="60x60" href="/favicons/apple-touch-icon-60x60.png?v=nggRrA85rX">
<link rel="apple-touch-icon" sizes="72x72" href="/favicons/apple-touch-icon-72x72.png?v=nggRrA85rX">
<link rel="apple-touch-icon" sizes="76x76" href="/favicons/apple-touch-icon-76x76.png?v=nggRrA85rX">
<link rel="apple-touch-icon" sizes="114x114" href="/favicons/apple-touch-icon-114x114.png?v=nggRrA85rX">
<link rel="apple-touch-icon" sizes="120x120" href="/favicons/apple-touch-icon-120x120.png?v=nggRrA85rX">
<link rel="apple-touch-icon" sizes="144x144" href="/favicons/apple-touch-icon-144x144.png?v=nggRrA85rX">
<link rel="apple-touch-icon" sizes="152x152" href="/favicons/apple-touch-icon-152x152.png?v=nggRrA85rX">
<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon-180x180.png?v=nggRrA85rX">
<link rel="icon" type="image/png" href="/favicons/favicon-32x32.png?v=nggRrA85rX" sizes="32x32">
<link rel="icon" type="image/png" href="/favicons/android-chrome-192x192.png?v=nggRrA85rX" sizes="192x192">
<link rel="icon" type="image/png" href="/favicons/favicon-96x96.png?v=nggRrA85rX" sizes="96x96">
<link rel="icon" type="image/png" href="/favicons/favicon-16x16.png?v=nggRrA85rX" sizes="16x16">
<link rel="manifest" href="/favicons/manifest.json?v=nggRrA85rX">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg?v=nggRrA85rX" color="#5bbad5">
<link rel="shortcut icon" href="/favicons/favicon.ico?v=nggRrA85rX">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/favicons/mstile-144x144.png?v=nggRrA85rX">
<meta name="theme-color" content="#ff9439"> -->

<!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <script src="js/respond.min.js"></script>
<![endif]-->
<?php
function echoActiveClassIfRequestMatches($requestUri) {
    $current_file_name = basename($_SERVER['REQUEST_URI'], ".html");
    if ($current_file_name == $requestUri)
        echo 'class="active"';
}?>