<ul class="social-icons" style="padding-left:0px">
    <li>
        <a href=""><i class="social_facebook_square"></i></a>
    </li>
    <li>
        <a href=""><i class="social_twitter_square"></i></a>
    </li>
    <li>
        <a href=""><i class="social_pinterest_square"></i></a>
    </li>
    <li>
        <a href=""><i class="social_googleplus_square"></i></a>
    </li>
    <li>
        <a href=""><i class="social_instagram_square"></i></a>
    </li>
    <li>
        <a href=""><i class="social_dribbble_square"></i></a>
    </li>
    <li>
        <a href=""><i class="social_flickr_square"></i></a>
    </li>
</ul>
