<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Patchr blog">
        <meta name="keywords" content="Patchr, Social, Sharing, Places, Location, App, Mobile, Android">
        <meta name="author" content="3meters">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- SITE TITLE -->
        <title>
            Patchr | Blog
        </title>
        <?php include "includes/include_head_min.html"; ?>
    </head>

    <body>
        <!-- HEADER -->
        <header class="navigation" id="home">
            <?php include "includes/include_navbar.html"; ?>
        </header>
        <!-- FORUMS -->
        <section class="forums">
            <!-- CONTAINER -->
            <div class="container">
                <!-- SECTION HEADER -->
                <div class="section-header-compact wow fadeIn animated" data-wow-offset="120"
                data-wow-duration="1.5s">
                    <!-- SECTION TITLE -->
                    <h2 class="dark-text">
                        Patchr Blog
                    </h2>
                    <div class="colored-line">
                    </div>
                    <div class="section-description">
                        All things Patchr
                    </div>
                    <div class="colored-line">
                    </div>
                </div>
                <!-- /END SECTION HEADER -->
            </div>
            <!-- /END CONTAINER -->
        </section>

        <footer>
            <?php include "includes/include_footer.html"; ?>
        </footer>

        <?php include "includes/include_scripts.html"; ?>
    </body>

</html>
