<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="3meters contact">
    <meta name="keywords" content="Teeny Social, 3meters, Social, Sharing, Places, Location, App, Mobile, Android">
    <meta name="author" content="3meters">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>
        3meters | Contact
    </title>
    <?php include "includes/include_head_min.html"; ?>
</head>

<body>
    <header class="navigation" id="home">
        <?php include "includes/include_navbar_minimal.html"; ?>
    </header>
    <!-- /END HEADER -->

    <section class="text top">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h2>
                        Contact us
                    </h2>
                    <p>
                        Feedback, problems, loving it, we want to hear from you!.
                    </p>
	                <h3>Address</h3>
                    <p>
                        999 N. Northlake Way, Suite 232<br>
                        Seattle, WA&nbsp; 98103<br>
	                    e: info@teenysocial.com<br>
	                    p: 425.780.7885
                    </p>
	                <br><br>
                    <p>
                        JAY MASSENA<br>
                        e: jay@tinysocial.com<br>
                    </p>
                    <p>
                        GEORGE SNELLING<br>
                        e: george@tinysocial.com<br>
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- END SECTION -->

    <footer>
        <?php 
            include "includes/include_footer.html"; 
            include "includes/include_scripts_min.html"; ?>
    </footer>
</body>

</html>
