<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Patch download">
        <meta name="keywords" content="Patch, Social, Sharing, Places, Location, App, Mobile, Android">
        <meta name="author" content="3meters">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- SITE TITLE -->
        <title>
            Patchr | Download
        </title>
        <?php include "includes/include_head.html" ?>
            <!-- Override for fat sticky footer -->
            <style>
                body { margin-bottom: 130px; } footer { height: 130px; }
            </style>
    </head>

    <body>
        <!-- PRE LOADER -->
        <div class="preloader">
            <div class="status">
                &nbsp;
            </div>
        </div>
        <!-- HEADER -->
        <header class="navigation" id="home">
            <!-- NAVIGATION -->
            <?php include "includes/include_navbar.html" ?>
        </header>
        <!-- /END HEADER -->
        <!-- DOWNLOAD NOW -->
        <section class="download_only">
            <div class="container">
                <!-- SECTION HEADER -->
                <div class="section-header-compact wow fadeIn animated" data-wow-offset="120"
                data-wow-duration="1.5s">
                    <!-- SECTION TITLE -->
                    <h2 class="dark-text">
                        Download Patchr
                    </h2>
                    <div class="colored-line">
                    </div>
                    <div class="section-description">
                        Patchr is a beautiful way to share photos and messages with an instant group.
                    </div>
                    <div class="colored-line">
                    </div>
                </div>
                <!-- /END SECTION HEADER -->

                <div class="phone-image wow bounceIn" data-wow-offset="120" data-wow-duration="1.5s">
                    <img src="/images/nexus-5-hand-background-nearby.jpg" alt="">
                </div>

                <div class="play_button" style="padding-top:40px">
                    <a href="https://play.google.com/store/apps/details?id=com.patchr.android&utm_source=patchr_web&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-AC-global-none-all-co-pr-py-PartBadges-Oct1515-1"><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/images/apps/en-play-badge.png" style="width:165px" /></a>
                </div>
                <div>
                    <a href="https://geo.itunes.apple.com/us/app/patchr/id983436323?mt=8" style="display:inline-block;overflow:hidden;background:url(http://linkmaker.itunes.apple.com/images/badges/en-us/badge_appstore-lrg.svg) no-repeat;width:165px;height:40px;"></a>
                </div>
            </div>€
            <!-- /END CONTAINER -->
        </section>
        <!-- /END DOWNLOAD SECTION -->

        <footer>
            <?php include "includes/include_footer_logo.html"; ?>
        </footer>
        <?php include "includes/include_scripts.html"; ?>
    </body>

</html>
