<!doctype html>
<html lang="en">

<head>
  <title>Patchr: Casual Groups</title>

  <meta charset="UTF-8">
  <meta name="description" content="3meters Proximity Computing">
  <meta name="keywords" content="3meters, Proximity, Computing, Social, Sharing, Mobile">
  <meta name="author" content="3meters">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <?php include "includes/include_head.html" ?>
</head>

<body>
  <header class="teaser" id="intro">
    <!-- COLOR OVER IMAGE -->
    <div class="color-overlay">
      <!-- To make header full screen. Use .full-screen class with color overlay.
                Example: <div class="color-overlay full-screen">  -->

      <!-- CONTAINER -->
      <div class="container" style="padding:100px">

        <div class="row">

          <div class="col-md-6 col-md-offset-3 center-align wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
              <!-- WELCOME MESSAGE -->
              <div class="intro">
                <h2 class="white-text" style="line-height:90%; margin-bottom: 40px">
                  Proximity computing.
                </h2>
                <p class="white-text">
                Your phone does a great job helping you find where to go. But once you arrive,
                how does it help?  Often its chirps only draw your attention away.
                </p>
                <p class="white-text">
                What if you could tune your phone down to room-scale, to the people, goings
                on, nobs, rules, schedule, traditions, of the space where you stand right now?
                That is proximity computing.
                </p>
              </div>
          </div>
        </div>
        <!-- /END ROW -->
      </div>
      <!-- /END CONTAINER -->

    </div>
    <!-- /END COLOR OVERLAY -->
  </header>
  <!-- /END HEADER -->


  <!-- MARKETING INTRO -->
  <section class="opening">
    <div class="container" style="padding:20px">

      <div class="row">

        <div class="col-md-6 col-md-offset-3 center-align wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
          <div class="colored-line"></div>
          <h2 class="dark-text">Patchr</h2>
          <p>
            Patchr is a Seattle-based startup exploring room-scale mobile apps, apps
            you launch when you arrive.
          </p>
          <p>
            <a href="https://www.linkedin.com/in/jay-massena-6922782">Jay Massena</a>&nbsp;&bull;
            <a href="https://www.linkedin.com/in/georgesnelling">George Snelling</a>
          </p>
          <div class="colored-line"></div>
          <h4 style="padding-top:40px">JOBS</h4>
          <h5>Director of Marketing, University of Washington</h5>
          <p>
            We seek a creative, energetic undergraduate or graduate student at
            the University of Washington to lead market research and experiment
            with viral adoption strategies for <a href="http://patchr.com">Patchr</a>,
            a proximity-centric mobile app. Go to our job listing <a href="https://www.linkedin.com/jobs2/view/103803306"> 
            Patchr@linkedin</a> to learn more.
          </p>        
        </div>
      </div>
      <!-- /END ROW -->
    </div>
    <!-- /END CONTAINER -->
  </section>
  <!-- /END SECTION -->

  <footer>
      <?php include "includes/include_scripts.html"; ?>
  </footer>

</body>

</html>
