<section id="content-wrapper">
    <div class="sqs-cart-dropzone">
    </div>
    <div id="parallax-images">
        <div class="image-container content-fill" data-url-id="features">
            <img data-src="http://static.squarespace.com/static/51212578e4b0b5151b720bb5/t/538b8bcae4b0ed28e032518e/1401654221436/party-3.jpg"
            data-image="http://static.squarespace.com/static/51212578e4b0b5151b720bb5/t/538b8bcae4b0ed28e032518e/1401654221436/party-3.jpg"
            data-image-dimensions="1063x1600" data-image-focal-point="0.5,0.5" alt="party-3.jpg"
            class="loading" data-load="false" />
        </div>
    </div>
    <div class="parallax-item" data-url-id="features">
        <div class="title-desc-wrapper over-image has-main-image" data-color-suggested="#060503">
            <div class="title-desc-image content-fill">
                <img data-src="http://static.squarespace.com/static/51212578e4b0b5151b720bb5/t/538b8bcae4b0ed28e032518e/1401654221436/party-3.jpg"
                data-image="http://static.squarespace.com/static/51212578e4b0b5151b720bb5/t/538b8bcae4b0ed28e032518e/1401654221436/party-3.jpg"
                data-image-dimensions="1063x1600" data-image-focal-point="0.5,0.5" alt="party-3.jpg"
                data-load="false" />
            </div>
            <div class="title-desc-inner">
                <h1 class="page-title">
                    Features
                </h1>
                <br>
            </div>
            <div class="scroll-arrow">
                <span>
                    SCROLL DOWN
                </span>
            </div>
        </div>
        <div class="content has-main-image">
            <div class="content-inner has-content">
                <div class="title-desc-wrapper">
                    <div class="title-desc-inner">
                        <h1 class="page-title">
                            Features
                        </h1>
                        <br>
                    </div>
                </div>
                <div class="sqs-layout sqs-grid-12 columns-12" data-type="page" data-updated-on="1401654940950"
                id="page-538b874ae4b069623d97e543">
                    <div class="row sqs-row">
                        <div class="col sqs-col-12 span-12">
                            <div class="row sqs-row">
                                <div class="col sqs-col-4 span-4">
                                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-9999bfd4a627fb43f7b6">
                                        <div class="sqs-block-content">
                                            <h2>
                                                Amazing Features
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47"
                                    id="block-yui_3_10_1_1_1401650973992_101057">
                                        <div class="sqs-block-content">
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_10_1_1_1401650973992_101128">
                                        <div class="sqs-block-content">
                                            <p>
                                                <span style="font-size:14px">
                                                    Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore
                                                    et dolore magna.
                                                </span>
                                            </p>
                                            <h2>
                                                Bootstrap 3.1
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47"
                                    id="block-yui_3_10_1_1_1401650973992_100454">
                                        <div class="sqs-block-content">
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_10_1_1_1401650973992_100523">
                                        <div class="sqs-block-content">
                                            <p id="yui_3_10_1_1_1401650973992_99945">
                                                Lorem ipsum dolor sit amet, ed do eiusmod tempor incididunt ut labore
                                                et dolore magna.
                                                <br>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col sqs-col-4 span-4">
                                    <div class="sqs-block image-block sqs-block-image" data-aspect-ratio="138.80597014925374"
                                    data-block-type="5" id="block-yui_3_10_1_1_1401650973992_102288">
                                        <div class="sqs-block-content">
                                            <div class="image-block-outer-wrapper layout-caption-below ">
                                                <div class="intrinsic" style="max-width:716.0px;">
                                                    <div style="padding-bottom:138.80596923828125%;" class="image-block-wrapper   has-aspect-ratio"
                                                    data-description="">
                                                        <noscript>
                                                            <img src="http://static.squarespace.com/static/51212578e4b0b5151b720bb5/t/538b8de1e4b0c6696be2d002/1401654753986/2-iphone-right.png"
                                                            alt="2-iphone-right.png" />
                                                        </noscript>
                                                        <img class="thumb-image" alt="2-iphone-right.png" data-src="http://static.squarespace.com/static/51212578e4b0b5151b720bb5/t/538b8de1e4b0c6696be2d002/1401654753986/2-iphone-right.png"
                                                        data-image="http://static.squarespace.com/static/51212578e4b0b5151b720bb5/t/538b8de1e4b0c6696be2d002/1401654753986/2-iphone-right.png"
                                                        data-image-dimensions="716x1000" data-image-focal-point="0.5,0.4934210526315789"
                                                        data-load="false" data-image-id="538b8de1e4b0c6696be2d002" data-type="image"
                                                        />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col sqs-col-4 span-4">
                                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_10_1_1_1401650973992_87700">
                                        <div class="sqs-block-content">
                                            <h2>
                                                Responsive Design
                                            </h2>
                                        </div>
                                    </div>
                                    <div class="sqs-block horizontalrule-block sqs-block-horizontalrule" data-block-type="47"
                                    id="block-yui_3_10_1_1_1401650973992_101619">
                                        <div class="sqs-block-content">
                                            <hr />
                                        </div>
                                    </div>
                                    <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_10_1_1_1401650973992_101692">
                                        <div class="sqs-block-content">
                                            <p id="yui_3_10_1_1_1401650973992_92803">
                                                List your app features and all the details Lorem ipsum dolor kadr
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="back-to-top">
    </div>
</section>
