<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Teeny Social App Landing Page">
  <meta name="keywords" content="Patchr, Social, Sharing, Places, Location, App, Mobile, Android">
  <meta name="author" content="3meters">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <!-- SITE TITLE -->
  <title>
    Patch App
  </title>
  <?php include "includes/include_head.html" ?>
  <!-- Override for fat sticky footer -->
  <style>
      body { margin-bottom: 130px; }
      footer { height: 130px; }
  </style>
</head>

<body>
  <div class="preloader">
    <div class="status">
      &nbsp;
    </div>
  </div>

  <header class="header" id="intro">
    <!-- COLOR OVER IMAGE -->
    <div class="color-overlay">
      <!-- To make header full screen. Use .full-screen class with color overlay.
                Example: <div class="color-overlay full-screen">  -->
      <!-- NAVIGATION -->
      <?php include "includes/include_navbar_home.html" ?>

      <!-- CONTAINER -->
      <div class="container">
        <div class="row home-contents">
          <div class="col-md-6 col-sm-6">
            <!-- HEADING AND BUTTONS -->
            <div class="intro-section">
              <!-- WELCOME MESSAGE -->
              <div class="logo-image">
                <img src="images/logo_patch_white.png" alt="">
              </div>
              <div class="intro">
                <h1 style="margin-bottom: -36px;">
                  Patchr
                </h1>
                <h2>
                  Sharing reimagined.
                </h2>
              </div>
              <h5>
                Available on Play Store
              </h5>
              <!-- BUTTON -->
              <div class="buttons" id="download-button">
                <a href="#download" class="btn btn-default btn-lg standard-button"><i class="icon-app-download"></i>Download Patch</a>
              </div>
              <!-- /END BUTTONS -->
            </div>
            <!-- /END HEADNING AND BUTTONS -->
          </div>
          <div class="col-md-6 col-sm-6 hidden-xs">
            <!-- PHONE IMAGE WILL BE HIDDEN IN TABLET PORTRAIT AND MOBILE-->
            <div class="phone-image">
              <img src="images/nexus-5-dark.png" style="display:block; max-width:100%" alt="">
            </div>
          </div>
        </div>
        <!-- /END ROW -->
      </div>
      <!-- /END CONTAINER -->

    </div>
    <!-- /END COLOR OVERLAY -->
  </header>
  <!-- /END HEADER -->


  <!-- MARKETING INTRO -->
  <section class="opening">
    <div class="container">

      <!-- SECTION HEADER -->
      <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">
        <!-- SECTION TITLE -->
        <h2 class="dark-text">
          Sharing that connects to your world</h2>
        <div class="colored-line">
        </div>
      </div>
      <!-- /END SECTION HEADER -->

      <div class="row">

        <!-- PHONES IMAGE -->
        <div class="col-md-5 col-md-offset-1 wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
          <div class="phone-image">
            <img src="images/nexus-5-hand-background-nearby.jpg" alt="">
          </div>
        </div>
        <!-- /END PHONES IMAGE -->

        <!-- BRIEF -->
        <div class="col-md-5 left-align wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
          <p>
            For people who love to share daily life, social events, and special occasions&mdash;Patch makes mobile
            sharing manageable, in one place, right where you need it, every time. Unlike other social
            sharing apps, Patch makes it simple; content is saved right where you left it, in a
            beautiful, personalized patch completely controlled by you.
            <br/>
            <!--             <br/>Whether you make a patch for a place, a group, or an event all messages are accessible and
            organized forever. No more groups or lists to manage, with a ‘public’ and ‘private’ option
            simply watch and join patches that are meaningful to you.
            <br/>-->
            <br/>Your life is a collection of places in time. Leave your legacy. Your patch. Patch.
          </p>
        </div>
        <!-- /ENDBRIEF -->

      </div>
      <!-- /END ROW -->
    </div>
    <!-- /END CONTAINER -->
  </section>
  <!-- /END SECTION -->


  <!-- *** SHARE YOUR WORLD *** -->
  <section class="features grey-bg" id="super_contributor">
    <div class="container">

      <!-- SECTION HEADER -->
      <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">

        <!-- SECTION TITLE -->
        <h2 class="dark-text">
          Share your world
        </h2>
        <div class="colored-line">
        </div>
        <div class="section-description">
          Patch is a beautiful way to share the right message at the right moment.
        </div>
        <div class="colored-line">
        </div>

      </div>
      <!-- /END SECTION HEADER -->

      <div class="row">

        <!-- FEATURES LEFT -->
        <div class="col-md-4 col-sm-4 features-left wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
          <!-- FEATURE -->
          <div class="feature">
            <!-- FEATURE HEADING AND DESCRIPTION -->
            <div class="feature-details">
              <h4 class="main-color">
                Right message, right moment
              </h4>
              <p>
                Drop or discover a patch on the go and connect with people who share your passion or interest.
                The right message helps you get more out of the places you love. The right moment puts
                messages at your fingertips when you need them most.
              </p>
            </div>
          </div>
          <!-- /END SINGLE FEATURE -->
          <!-- FEATURE -->
          <div class="feature">
            <!-- FEATURE HEADING AND DESCRIPTION -->
            <div class="feature-details">
              <h4 class="main-color">
                Personalized custom patches
              </h4>
              <p>
                Create and drop patches anywhere so people can share a place, interest, or event.
                Personalize your patches with great custom banners, beautiful photos, titles and categories.
              </p>
            </div>
          </div>
          <!-- /END SINGLE FEATURE -->
        </div>
        <!-- /END FEATURES LEFT -->

        <!-- PHONE IMAGE -->
        <div class="col-md-4 col-sm-4">
          <div class="phone-image crossfade wow bounceIn animated" data-wow-offset="120" data-wow-duration="1.5s">
            <img class="bottom" src="images/nexus-5-white-patch-birthday.png" alt="">
            <img class="top" src="images/nexus-5-white-message-edit.png" alt="">
          </div>
        </div>

        <!-- FEATURES RIGHT -->
        <div class="col-md-4 col-sm-4 features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
          <!-- FEATURE -->
          <div class="feature">
            <!-- FEATURE HEADING AND DESCRIPTION -->
            <div class="feature-details">
              <h4 class="main-color">
                Make it better
              </h4>
              <p>
                Patch comes loaded with features that help you make patches and messages better. Edit patches and
                posted messages to make them right. Share messages and patches so people have them where
                and when they need them most.
              </p>
            </div>
          </div>
          <!-- /END SINGLE FEATURE -->
          <!-- FEATURE -->
          <div class="feature">
            <!-- FEATURE HEADING AND DESCRIPTION -->
            <div class="feature-details">
              <h4 class="main-color">
                Stay connected
              </h4>
              <p>
                Watch patches to know what’s happening from anywhere. When fans post messages to patches you own or watch,
                instant notifications keep you connected and engaged.
              </p>
            </div>
          </div>
          <!-- /END SINGLE FEATURE -->
        </div>
        <!-- /END FEATURES RIGHT -->

      </div>
      <!-- /END ROW -->
    </div>
    <!-- /END CONTAINER -->
  </section>
  <!-- /END FEATURES SECTION -->


  <!-- *** SHARE YOUR PASSION *** -->
  <section class="features" id="super_fan">
    <div class="container">

      <!-- SECTION HEADER -->
      <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">

        <!-- SECTION TITLE -->
        <h2 class="dark-text">
          Share your passion
        </h2>
        <div class="colored-line">
        </div>
        <div class="section-description">
          Share and engage with the places and events you love
        </div>
        <div class="colored-line">
        </div>
      </div>
      <!-- /END SECTION HEADER -->

      <div class="row">

        <!-- FEATURES LEFT -->
        <div class="col-md-4 col-sm-4 features-right wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
          <!-- FEATURE -->
          <div class="feature">
            <!-- FEATURE HEADING AND DESCRIPTION -->
            <div class="feature-details">
              <h4 class="main-color">
                Sharing amplified
              </h4>
              <p>
                Patch makes it easy and 100% free to post and share beautiful messages and photos instantly for
                any place or event. Discover a patch when you are on the go and connect with people who
                share your passion.
              </p>
            </div>
          </div>
          <!-- /END SINGLE FEATURE -->
          <!-- FEATURE -->
          <div class="feature">
            <!-- FEATURE HEADING AND DESCRIPTION -->
            <div class="feature-details">
              <h4 class="main-color">
                Express yourself
              </h4>
              <p>
                Photos add impact and emotion to your message and Patch lets you choose the perfect photo using
                a huge image library, the camera or your personal photo gallery. We even find photos
                that users have already shared for the places they love.
              </p>
            </div>
          </div>
          <!-- /END SINGLE FEATURE -->
        </div>
        <!-- /END FEATURES LEFT -->

        <!-- FEATURES RIGHT -->
        <div class="col-md-4 col-sm-4 features-right wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
          <!-- FEATURE -->
          <div class="feature">
            <!-- FEATURE HEADING AND DESCRIPTION -->
            <div class="feature-details">
              <h4 class="main-color">
                Share the love
              </h4>
              <p>
                Share patches, messages and photos to Facebook, Twitter, Wordpress and more! Create Patch messages
                from apps like Twitter, Foursquare, Google Maps and OneDrive.
              </p>
            </div>
          </div>
          <!-- /END SINGLE FEATURE -->
          <!-- FEATURE -->
          <div class="feature">
            <!-- FEATURE HEADING AND DESCRIPTION -->
            <div class="feature-details">
              <h4 class="main-color">
                Discover
              </h4>
              <p>
                Patch radar finds nearby patches fast so you can instantly get more out of the places you love. Trending makes
                it simple to browse, discover and watch the most active and popular patches. Real-time
                notifications for nearby patches make you part of the conversation.
              </p>
            </div>
          </div>
          <!-- /END SINGLE FEATURE -->
        </div>
        <!-- /END FEATURES RIGHT -->

        <!-- PHONE IMAGE -->
        <div class="col-md-4 col-sm-4">
          <div class="phone-image wow fadeInRight animated" data-wow-offset="120" data-wow-duration="1.5s">
            <img src="images/nexus-5-black-patch-sanders.png" alt="">
          </div>
        </div>

      </div>
      <!-- /END ROW -->
    </div>
    <!-- /END CONTAINER -->
  </section>
  <!-- /END FEATURES SECTION -->


  <!-- *** DESIGNED FOR YOU *** -->
  <section class="features grey-bg" id="features">

    <div class="container">

      <!-- SECTION HEADER -->
      <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">
        <!-- SECTION TITLE -->
        <h2 class="dark-text">
          Designed for you
        </h2>
        <div class="colored-line">
        </div>
        <div class="section-description">
          Dynamic and customizable to put you in control
        </div>
        <div class="colored-line">
        </div>
      </div>
      <!-- /END SECTION HEADER -->

      <div class="row">

        <!-- FEATURES LEFT -->
        <div class="col-md-4 col-sm-4 features-left wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">

          <!-- FEATURE -->
          <div class="feature">
            <!-- FEATURE HEADING AND DESCRIPTION -->
            <div class="feature-details">
              <h4 class="main-color">
                Make it yours
              </h4>
              <p>
                <!-- ICON -->
                <div class="icon-container">
                  <div class="icon">
                    <i class=" icon_pencil-edit"></i>
                  </div>
                </div>
                Patch comes packed with features that let you personalize your experience to fit you best. Switch
                themes or your profile photo to match your mood. Find the perfect banner photo to deck out the patches you love.
                Tailor notifications so they work the way you want them to.
            </div>
          </div>

          <!-- FEATURE -->
          <div class="feature">
            <!-- FEATURE HEADING AND DESCRIPTION -->
            <div class="feature-details">
              <h4 class="main-color">
                Dynamic message stream
              </h4>
              <p>
                <!-- ICON -->
                <div class="icon-container">
                  <div class="icon">
                    <i class="icon_chat_alt"></i>
                  </div>
                </div>
                Your message stream dynamically adapts to your interests. Start watching a patch and the message history
                for the patch is automatically folded into your message stream.
              </p>
            </div>
          </div>

        </div>
        <!-- /END FEATURES LEFT -->

        <!-- PHONE IMAGE -->
        <div class="col-md-4 col-sm-4">
          <div class="phone-image crossfade wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">
            <img class="bottom" src="images/nexus-5-black-nearby-dark.png" alt="">
            <img class="top" src="images/nexus-5-black-nearby.png" alt="">
          </div>
        </div>

        <!-- FEATURES RIGHT -->
        <div class="col-md-4 col-sm-4 features-right wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">

          <!-- FEATURE -->
          <div class="feature">
            <!-- FEATURE HEADING AND DESCRIPTION -->
            <div class="feature-details">
              <h4 class="main-color">
                Broad Android support
              </h4>
              <p>
                <!-- ICON -->
                <div class="icon-container">
                  <div class="icon">
                    <i class="icon_like"></i>
                  </div>
                </div>
                Patch is designed with support for Android devices of all sizes: smartphones to large screen tablets.
                Smart engineering means Patch runs on more than 99% of active Android devices.
            </div>
          </div>

          <!-- FEATURE -->
          <div class="feature">
            <!-- FEATURE HEADING AND DESCRIPTION -->
            <div class="feature-details">
              <h4 class="main-color">
                Easy on the battery
              </h4>
              <p>
                <!-- ICON -->
                <div class="icon-container">
                  <div class="icon">
                    <i class="icon_hourglass"></i>
                  </div>
                </div>
                Cloud push refresh saves battery life and still keeps you current by automatically refreshing content
                and delivering notifications only when needed.</p>
            </div>
          </div>

        </div>
        <!-- /END FEATURES RIGHT -->
      </div>
      <!-- /END ROW -->

    </div>
    <!-- /END CONTAINER -->

  </section>
  <!-- /END FEATURES SECTION -->


  <!-- SCREENSHOTS -->
  <section class="screenshots" id="screenshot-section">
    <div class="container">
      <!-- SECTION HEADER -->
      <div class="section-header wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
        <!-- SECTION TITLE -->
        <h2 class="dark-text">
          Screenshots
        </h2>
        <div class="colored-line">
        </div>
        <div class="section-description">
          Sharing that connects to your world
        </div>
        <div class="colored-line">
        </div>
      </div>
      <!-- /END SECTION HEADER -->
      <div class="row wow fadeIn animated" data-wow-offset="10" data-wow-duration="1.5s">
        <div id="screenshots" class="owl-carousel owl-theme">
          <div class="shot">
            <a href="images/nearby-dillon.jpg" data-lightbox-gallery="screenshots-gallery">
              <img src="images/nearby-dillon.jpg" alt="Screenshot">
            </a>
          </div>
          <div class="shot">
            <a href="images/navigation-dillon.jpg" data-lightbox-gallery="screenshots-gallery">
              <img src="images/navigation-dillon.jpg" alt="Screenshot">
            </a>
          </div>
          <div class="shot">
            <a href="images/map-dillon.jpg" data-lightbox-gallery="screenshots-gallery">
              <img src="images/map-dillon.jpg" alt="Screenshot">
            </a>
          </div>
          <div class="shot">
            <a href="images/message-edit-birthday.jpg" data-lightbox-gallery="screenshots-gallery">
              <img src="images/message-edit-birthday.jpg" alt="Screenshot">
            </a>
          </div>
          <div class="shot">
            <a href="images/patch-birthday.jpg" data-lightbox-gallery="screenshots-gallery">
              <img src="images/patch-birthday.jpg" alt="Screenshot">
            </a>
          </div>
          <div class="shot">
            <a href="images/trending.jpg" data-lightbox-gallery="screenshots-gallery">
              <img src="images/trending.jpg" alt="Screenshot">
            </a>
          </div>
          <div class="shot">
            <a href="images/message-skull-dillon.jpg" data-lightbox-gallery="screenshots-gallery">
              <img src="images/message-skull-dillon.jpg" alt="Screenshot">
            </a>
          </div>
          <div class="shot">
            <a href="images/watching-dillon.jpg" data-lightbox-gallery="screenshots-gallery">
              <img src="images/watching-dillon.jpg" alt="Screenshot">
            </a>
          </div>
          <div class="shot">
            <a href="images/mine-dillon.jpg" data-lightbox-gallery="screenshots-gallery">
              <img src="images/mine-dillon.jpg" alt="Screenshot">
            </a>
          </div>
          <div class="shot">
            <a href="images/patch-metgrill-menu.jpg" data-lightbox-gallery="screenshots-gallery">
              <img src="images/patch-metgrill-menu.jpg" alt="Screenshot">
            </a>
          </div>
        </div>
        <!-- /END SCREENSHOTS -->
      </div>
      <!-- /END ROW -->
    </div>
    <!-- /END CONTAINER -->
  </section>
  <!-- /END SCREENSHOTS SECTION -->


  <!-- DOWNLOAD NOW -->
  <section class="download" id="download">
    <div class="color-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">

            <!-- DOWNLOAD BUTTONS AREA -->
            <div class="download-container">
              <h2 class=" wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
                Download Patch!
              </h2>
              <!-- BUTTONS -->
              <div class="buttons wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
                <a href="https://play.google.com/store/apps/details?id=com.aircandi.catalina&referrer=utm_source%3Dpatchr_landing_header">
                  <img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_60.png"
                  />
                </a>
                <!--<a href="" class="btn btn-default btn-lg standard-button"><i class="icon-google-play"></i>Play Store</a>-->
              </div>
              <!-- /END BUTTONS -->
            </div>
            <!-- END OF DOWNLOAD BUTTONS AREA -->

            <!-- SUBSCRIPTION FORM WITH TITLE -->
            <!-- Code for this is in custom.js and binds to the form id -->
            <div class="subscription-form-container">
              <h2 class="wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
                Subscribe Now!
              </h2>
              <!-- MAILCHIMP FORM STARTS -->
              <form class="subscription-form mailchimp form-inline wow fadeInRight animated"
                data-wow-offset="10"
                data-wow-duration="1.5s" role="form">
                <h4 class="subscription-success">
                </h4>
                <h4 class="subscription-error">
                </h4>
                <input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">
                <button type="submit" id="subscribe-button" class="btn btn-default standard-button">
                  Subscribe
                </button>
              </form>
              <!-- /END MAILCHIMP FORM STARTS -->
            </div>
            <!-- END OF SUBSCRIPTION FORM WITH TITLE -->

          </div>
          <!-- END COLUMN -->
        </div>
        <!-- END ROW -->
      </div>
      <!-- /END CONTAINER -->
    </div>
    <!-- /END COLOR OVERLAY -->
  </section>
  <!-- /END DOWNLOAD SECTION -->

  <section class="contact">
    <?php include "includes/include_contact.html" ?>
  </section>

  <footer>
    <?php include "includes/include_footer_logo.html"; ?>
  </footer>

  <?php include "includes/include_scripts.html"; ?>

</body>

</html>
