<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Teeny Social privacy policy">
        <meta name="keywords" content="Teeny Social, Social, Sharing, Places, Location, App, Mobile, Android">
        <meta name="author" content="3meters">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>
            Teeny Social | Privacy Policy
        </title>
        <?php include "includes/include_head_min.html"; ?>
    </head>

    <body>
        <section class="text">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p>
                            <strong>
                                Last Updated: April 22, 2017
                            </strong>
                        </p>
                        <h2>
                            Teeny Social<br/>Privacy Policy
                        </h2>
                        <p>
                            Welcome to Teeny Social, a service provided by 3meters. Teeny Social is the social sharing app designed for people who want just enough sharing. We provide the
                            Teeny Social Service (the "Service") to you under the
                            <a href="terms">Terms of Service</a>
                            . The Service is not available to children younger than 13.
                        </p>
                        <p>
                            Our Privacy Policy explains:
                        </p>
                        <ul>
                            <li>
                                What information we collect.
                            </li>
                            <li>
                                How we use and share that information.
                            </li>
                            <li>
                                How you can access and update that information.
                            </li>
                        </ul>
                        <h3>
                            What Information Do We Collect?
                        </h3>
                        <ul>
                            <li>
                                Private Personal Information You Provide to Us: You may choose to provide
                                us with private personal information, including your email address, phone
                                number, and credit card information.
                            </li>
                            <li>
                                Content That You Add to the Service: You may choose to add content to
                                the Service such as a public profile, messages, photos, videos and the
                                like. We call this information Your Content.
                            </li>
                            <li>
                                Information We Get From Your Use of the Service: When you use the Service,
                                Teeny Social automatically receives and may record information from your browser
                                or mobile device, including your location, IP address, cookie information, and
                                requests you make of the service.
                            </li>
                            <li>
                                Information We Receive from Third Parties: We receive and store information
                                from third parties that interact in some way with the Service. For example,
                                you may choose to launch another app from Teeny Social, and the owner of
                                that app may share with us whether you did or did not successfully sign
                                in to their service. Some apps may share your Personal Information, activities
                                and/or content with Teeny Social. Please read the privacy policy of any such
                                app so that you understand its sharing practices.
                            </li>
                        </ul>
                        <h3>
                            How do we use and share that information?
                        </h3>
                        <p>
                            <span>
                                We use the information we collect to provide, maintain and improve the
                                Service, to develop new services, and to protect
                            </span>
                            Teeny Social
                            <span>
                                and our users.
                            </span>
                        </p>
                        <p>
                            We will never sell or rent your Private Personal Information to anyone.
                            <span>
                                We will only share your Private Personal Information if necessary to comply
                                with laws, to enforce the Terms of Service if we believe in good faith
                                that they have been violated, or to prevent fraud or security attacks.
                            </span>
                        </p>
                        <h3>
                            Accessing and Updating Your Information
                        </h3>
                        <p>
                            Whenever you use our services, we aim to provide you with access to your
                            information. If that information is wrong, we strive to give you ways to
                            update it quickly or to delete it – unless we have to keep that information
                            for legitimate business or legal purposes. When updating your personal
                            information, we may ask you to verify your identity before we can act on
                            your request.
                        </p>
                        <p>
                            We may reject requests that are unreasonably repetitive, require disproportionate
                            technical effort (for example, developing a new system or fundamentally
                            changing an existing practice), risk the privacy of others, or would be
                            extremely impractical (for instance, requests concerning information residing
                            on backup tapes).
                        </p>
                        <p>
                            Where we can provide information access and correction, we will do so
                            for free, except where it would require a disproportionate effort. We aim
                            to maintain our services in a manner that protects information from accidental
                            or malicious destruction. Because of this, after you delete information
                            from our services, we may not immediately delete residual copies from our
                            active servers and may not remove information from our backup systems.
                        </p>
                        <h3>
                            General Information
                        </h3>
                        <p>
                            Teeny Social uses servers and networking services provided by third parties
                            to store and transmit your information, and some of those servers may be
                            located outside the country where you live.
                        </p>
                        <p>
                            We will transfer information about you if Teeny Social or 3meters is acquired
                            by or merged with another company. In this event, we will notify you before
                            information about you is transferred and becomes subject to a different
                            privacy policy.
                        </p>
                        <p>
                            We may amend this Privacy Policy from time to time. Use of information
                            we collect now is subject to the Privacy Policy in effect at the time such
                            information is used. If we make material changes in the way we use Personal
                            Information, we will notify you by posting an announcement on our Service
                            or sending you an email. Users are bound by any changes to the Privacy
                            Policy when they use the Service after such changes have been first posted.
                        </p>
                        <h3>
                            What If I Have Questions Or Concerns?
                        </h3>
                        <p>
                            If you have any questions or concerns regarding privacy using the Service,
                            please send a detailed message to: privacy@3meters.com. We will make
                            every effort to resolve your concerns.
                        </p>
                    </div>
                    <!-- END COLUMN -->
                </div>
                <!-- END ROW -->
            </div>
            <!-- /END CONTAINER -->
        </section>
        <!-- END SECTION -->
        <footer>
            <?php include "includes/include_footer.html"; ?>
        </footer>
        <?php include "includes/include_scripts.html"; ?>
    </body>

</html>
