<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Patch download">
        <meta name="keywords" content="Patch, Social, Sharing, Places, Location, App, Mobile, Android">
        <meta name="author" content="3meters">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <!-- SITE TITLE -->
        <title>
            Patchr | Password Reset
        </title>
        <?php include "includes/include_head_min.html"; ?>
        <!-- Override for fat sticky footer -->
        <style>
            body { margin-bottom: 130px; } footer { height: 130px; }
        </style>
    </head>

    <body>
        <!-- PRE LOADER -->
        <div class="preloader">
            <div class="status">&nbsp;</div>
        </div>

        <!-- HEADER -->
        <header class="navigation" id="home">
            <?php include "includes/include_navbar_minimal.html"; ?>
        </header>
        <!-- /END HEADER -->
        
        <!-- DOWNLOAD NOW -->
        <section class="download_only">
            <div class="container">
                
                <!-- SECTION HEADER -->
                <div class="section-header-compact wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">
                    <!-- SECTION TITLE -->
                    <h2 class="dark-text">
                        Reset Password
                    </h2>
                    <div class="colored-line"></div>
                    <div class="section-description">
                        To continue your password reset, open the reset email and tap the reset link on your iOS or Android device.
                    </div>
                    <div class="colored-line"></div>
                </div>
                <!-- /END SECTION HEADER -->
           </div>
            <!-- /END CONTAINER -->
        </section>
        <!-- /END DOWNLOAD SECTION -->

        <footer>
            <?php include "includes/include_footer_logo.html"; ?>
        </footer>
        <?php include "includes/include_scripts.html"; ?>
    </body>

</html>
