<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Patchr rules of conduct">
        <meta name="keywords" content="Patchr, Social, Sharing, Places, Location, App, Mobile, Android">
        <meta name="author" content="3meters">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>
            Patchr | Rules of Conduct
        </title>
        <?php include "includes/include_head_min.html"; ?>
    </head>

    <body>
        <section class="text">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>
                            Patchr<br/>Rules of Conduct
                        </h1>
                        <p>
                            Our goal is to provide a service that lets you communicate and share just enough with the important
                            people in your life. We respect the ownership of the content that users share and each user
                            is responsible for the content he or she provides. Because of these principles,
                            we do not actively monitor and will not censor user content, except in
                            limited circumstances described below.
                        </p>
                        <h3>
                            Content Boundaries and Use of Patchr
                        </h3>
                        <p>
                            In order to provide the Patchr service and the ability to create and
                            share content with others, there are some limitations on the type of content
                            that can be published with Patchr. These limitations comply with legal
                            requirements and make Patchr a better experience for all. We may need
                            to change these rules from time to time and reserve the right to do so.
                            Please check back here to see the latest.
                        </p>
                        <ul>
                            <li>
                                <strong>
                                    Copyright
                                </strong>
                                : We will respond to clear and complete notices of alleged copyright infringement.
                                Our copyright procedures are set forth in the
                                <a href="terms">Terms of Service</a>
                                .
                            </li>
                            <li>
                                <strong>
                                    Unlawful Use
                                </strong>
                                : You may not use our service for any unlawful purposes or in furtherance
                                of illegal activities. International users agree to comply with all local
                                laws regarding online conduct and acceptable content.
                            </li>
                        </ul>
                        <p>
                            Your account may be suspended for Terms of Service violations if any of
                            the above is true. Accounts created to replace suspended accounts will
                            be permanently suspended.
                        </p>
                        <p>
                            Accounts engaging in any of these behaviors may be investigated for abuse.
                            Accounts under investigation may be removed from any Search for quality.
                            Patchr reserves the right to immediately terminate your account without
                            further notice in the event that, in its judgment, you violate these Rules
                            or the
                            <a href="terms">Terms of Service</a>
                            .
                        </p>
                        <p>
                            We may revise these Rules from time to time; the most current version
                            will always be at
                            <a href="rules">Patchr rules</a>
                            .
                        </p>
                    </div>
                    <!-- END COLUMN -->
                </div>
                <!-- END ROW -->
            </div>
            <!-- /END CONTAINER -->
        </section>
        <!-- END SECTION -->
        <footer>
            <?php include "includes/include_footer.html"; ?>
        </footer>
        <?php include "includes/include_scripts.html"; ?>
    </body>

</html>
