<!doctype html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="description" content="Patchr rules of conduct">
        <meta name="keywords" content="Patchr, Social, Sharing, Places, Location, App, Mobile, Android">
        <meta name="author" content="3meters">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        <title>
            Patchr | Rules of Conduct
        </title>
        <?php include "includes/include_head_min.html"; ?>
    </head>

    <body>
        <section class="text">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1>
                            Patchr<br/>Rules of Conduct
                        </h1>
                        <p>
                            Our goal is to provide a service that lets you do more with the places
                            you love including discovering, creating and sharing content with others.
                            We respect the ownership of the content that users share and each user
                            is responsible for the content he or she provides. Because of these principles,
                            we do not actively monitor and will not censor user content, except in
                            limited circumstances described below.
                        </p>
                        <h3>
                            Content Boundaries and Use of Patchr
                        </h3>
                        <p>
                            In order to provide the Patchr service and the ability to create and
                            share content with others, there are some limitations on the type of content
                            that can be published with Patchr. These limitations comply with legal
                            requirements and make Patchr a better experience for all. We may need
                            to change these rules from time to time and reserve the right to do so.
                            Please check back here to see the latest.
                        </p>
                        <ul>
                            <li>
                                <strong>
                                    Trademark
                                </strong>
                                <span>
                                    : We reserve the right to reclaim place names on behalf of businesses
                                    or individuals that hold legal claim or trademark on those place names.
                                    Accounts using business names and/or logos to mislead others may be permanently
                                    suspended.
                                </span>
                            </li>
                            <li>
                                <strong>
                                    Private information
                                </strong>
                                : You may not publish or post other people's private and confidential
                                information, such as credit card numbers, street address or Social Security/National
                                Identity numbers, without their express authorization and permission.
                            </li>
                            <li>
                                <strong>
                                    Violence and Threats
                                </strong>
                                : You may not publish or post direct, specific threats of violence against
                                others.
                            </li>
                            <li>
                                <strong>
                                    Copyright
                                </strong>
                                : We will respond to clear and complete notices of alleged copyright infringement.
                                Our copyright procedures are set forth in the
                                <a href="terms">Terms of Service</a>
                                .
                            </li>
                            <li>
                                <strong>
                                    Unlawful Use
                                </strong>
                                : You may not use our service for any unlawful purposes or in furtherance
                                of illegal activities. International users agree to comply with all local
                                laws regarding online conduct and acceptable content.
                            </li>
                        </ul>
                        <h3>
                            Abuse and Spam
                        </h3>
                        <p>
                            Patchr strives to protect its users from abuse and spam. User abuse
                            and technical abuse are not tolerated on the Patchr service and may result
                            in permanent suspension. Any accounts engaging in the activities specified
                            below may be subject to permanent suspension.
                        </p>
                        <ul>
                            <li>
                                <strong>
                                    Malware/Phishing
                                </strong>
                                <span>
                                    : You may not publish or link to malicious content intended to damage
                                    or disrupt another user’s browser or computer or to compromise a user’s
                                    privacy.
                                </span>
                            </li>
                            <li>
                                <strong>
                                    Spam
                                </strong>
                                : You may not use the Patchr service for the purpose of spamming anyone.
                                What constitutes “spamming” will evolve as we respond to new tricks and
                                tactics by spammers. Some of the factors that we take into account when
                                determining what conduct is considered to be spamming are:
                                <ul>
                                    <li>
                                        <span>
                                            If a large number of people are blocking you;
                                        </span>
                                    </li>
                                    <li>
                                        If a large number of spam complaints have been filed against you;
                                    </li>
                                    <li>
                                        <span>
                                            If you repeatedly create false or misleading content in an attempt to
                                            bring attention to an account, service or link;
                                        </span>
                                    </li>
                                    <li>
                                        <span>
                                            If you repeatedly post other users' account information as your own (bio,
                                            url, etc.);
                                        </span>
                                    </li>
                                    <li>
                                        If you post misleading links (e.g. affiliate links, links to malware/click
                                        jacking pages, etc.);
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <strong>
                                    Pornography
                                </strong>
                                : You may not use obscene or pornographic images in either your profile
                                photo, place banners, pictures, candigrams or links.
                            </li>
                        </ul>
                        <p>
                            Your account may be suspended for Terms of Service violations if any of
                            the above is true. Accounts created to replace suspended accounts will
                            be permanently suspended.
                        </p>
                        <p>
                            Accounts engaging in any of these behaviors may be investigated for abuse.
                            Accounts under investigation may be removed from any Search for quality.
                            Patchr reserves the right to immediately terminate your account without
                            further notice in the event that, in its judgment, you violate these Rules
                            or the
                            <a href="terms">Terms of Service</a>
                            .
                        </p>
                        <p>
                            We may revise these Rules from time to time; the most current version
                            will always be at
                            <a href="rules">Patchr rules</a>
                            .
                        </p>
                    </div>
                    <!-- END COLUMN -->
                </div>
                <!-- END ROW -->
            </div>
            <!-- /END CONTAINER -->
        </section>
        <!-- END SECTION -->
        <footer>
            <?php include "includes/include_footer.html"; ?>
        </footer>
        <?php include "includes/include_scripts.html"; ?>
    </body>

</html>
