<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="3meters Proximity Computing">
  <meta name="keywords" content="3meters, Proximity, Computing, Social, Sharing, Mobile">
  <meta name="author" content="3meters">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>
    3meters: Proximity Computing
  </title>
  <?php include "includes/include_head.html" ?>
  <!-- Override for fat sticky footer -->
  <style>
      body { margin-bottom: 50px; }
      footer { height: 50px; }
  </style>
</head>

<body>
  <div class="preloader">
    <div class="status">
      &nbsp;
    </div>
  </div>

  <header class="header" id="intro">
    <!-- COLOR OVER IMAGE -->
    <div class="color-overlay full-screen">
      <!-- To make header full screen. Use .full-screen class with color overlay.
                Example: <div class="color-overlay full-screen">  -->

      <!-- CONTAINER -->
      <div class="container">
        <div class="row home-contents">
          <div class="col-md-6 col-sm-6">
            <!-- HEADING AND BUTTONS -->
            <div class="intro-section">
              <!-- WELCOME MESSAGE -->
              <div class="logo-image" style="margin-bottom: -8px;">
                <img src="images/logo_patchr_outlined.png" alt="">
              </div>
              <div class="intro">
                <h1 style="line-height:80%; margin-bottom:-8px;">
                  3meters
                </h1>
                <h2 style="line-height:90%">
                  Proximity computing.
                </h2>
              </div>
            </div>
            <!-- /END HEADING AND BUTTONS -->
          </div>
        </div>
        <!-- /END ROW -->
      </div>
      <!-- /END CONTAINER -->

    </div>
    <!-- /END COLOR OVERLAY -->
  </header>
  <!-- /END HEADER -->


  <!-- MARKETING INTRO -->
  <section class="opening">
    <div class="container" style="padding:200px">

      <!-- SECTION HEADER -->
      <div class="section-header wow fadeIn animated" data-wow-offset="120" data-wow-duration="1.5s">
        <!-- SECTION TITLE -->
        <div class="colored-line"></div>
        <h2 class="dark-text">
          What if you could make every moment yours?</h2>
        <div class="colored-line"></div>
      </div>
      <!-- /END SECTION HEADER -->
      <!--
      <div class="row">

        <div class="col-md-8 col-md-offset-2 center-align wow fadeInRight animated" data-wow-offset="10" data-wow-duration="1.5s">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc velit justo, varius sed ornare et, vulputate eu enim. Integer ullamcorper pulvinar convallis. In eget placerat quam. Suspendisse vulputate orci arcu. Sed eget urna dolor. Phasellus interdum dolor quis magna suscipit iaculis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam nibh enim, commodo ut tellus in, blandit tristique ipsum. Nulla venenatis sodales ligula, ac cursus nunc eleifend eu. Quisque vestibulum nisl eget egestas ullamcorper. Proin auctor ac leo sed sollicitudin.
          </p>
          <p>
            Aenean vitae commodo turpis. Suspendisse potenti. Proin dui tortor, pretium sit amet velit ac, accumsan egestas mi. Ut venenatis, mauris et imperdiet dictum, orci felis feugiat nisl, facilisis vestibulum libero metus sit amet arcu. Sed nec gravida quam, a eleifend quam. Integer sed ligula scelerisque, congue lorem et, malesuada tellus. Vestibulum eleifend quam nec massa sodales, eget pulvinar tortor finibus. Donec ut enim facilisis ex pharetra hendrerit eget at orci. Vestibulum ornare mi eget tincidunt facilisis.
          </p>
        </div>

      </div>-->
      <!-- /END ROW -->
    </div>
    <!-- /END CONTAINER -->
  </section>
  <!-- /END SECTION -->


  <!-- DOWNLOAD NOW -->
  <section class="download" id="download">
    <div class="color-overlay">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">


            <!-- SUBSCRIPTION FORM WITH TITLE -->
            <!-- Code for this is in custom.js and binds to the form id -->
            <div class="subscription-form-container">
              <h2 class="wow fadeInLeft animated" data-wow-offset="10" data-wow-duration="1.5s">
                Register to be part of our beta!
              </h2>

              <!-- MAILCHIMP FORM STARTS -->
              <form class="subscription-form mailchimp form-inline wow fadeInRight animated"
                data-wow-offset="10"
                data-wow-duration="1.5s" role="form">
                <h4 class="subscription-success">
                </h4>
                <h4 class="subscription-error">
                </h4>
                <input type="email" name="email" id="subscriber-email" placeholder="Your Email" class="form-control input-box">
                <button type="submit" id="subscribe-button" class="btn btn-default standard-button">
                  Register
                </button>
              </form>
              <!-- /END MAILCHIMP FORM STARTS -->

              <div class="logo" style="padding-bottom: 20px; margin-top:60px">
                  <img src="images/logo_patchr_outlined.png" style="max-height: 100px; max-width:100px" alt="LOGO">
              </div>
            </div>
            <!-- END OF SUBSCRIPTION FORM WITH TITLE -->

          </div>
          <!-- END COLUMN -->
        </div>
        <!-- END ROW -->
      </div>
      <!-- /END CONTAINER -->
    </div>
    <!-- /END COLOR OVERLAY -->
  </section>
  <!-- END SECTION -->

  <footer>
      <?php 
          include "includes/include_footer.html"; 
          include "includes/include_scripts.html"; ?>
  </footer>

</body>

</html>
